.join-container-yjh {
  margin: 50px auto;
  li{ list-style: none; }
  h1{ color: #6BA10E; }
  #Join-form-yjh {
    margin: 0 auto;
    width: 500px;
    #input-ul-yjh {
      margin-top: 40px;
      margin-bottom: 20px;
      padding: 0;
      .input-li-yjh {
        margin: 20px auto;
        label {
          color: gray;
          display: flex;
          text-align: start;
        }
        .hidden {
          display: none;
        }
        input {
          width: 100%;
          border: 0px;
          border-bottom: 1px solid black;
          padding: 7px 5px;
          outline: none;
          font-size: 20px;
          transition: border-color 0.5s;
          &:focus {
            border-color: #6BA10E; // 클릭시 border 색상 변경
          }
          &:focus::placeholder {
            color: transparent;
          }
        }
        p {
          margin-bottom: 40px;
        }
        .message {
          color: green;
        }
        .message.error {
          color: red;
        }
      }
    }
    #join-btn-yjh {
      border: 1px solid #6BA10E;
      margin: 20px 0px;
      width: 100%;
      height: 40px;
      background-color: #6BA10E;
      font-size: 22px;
      font-weight: bold;
      color: white;
    }
    #social-login-yjh{
      display: flex;
      flex-wrap: wrap;// 넘치면 줄바꿈
      align-items: center;
      gap: 20px;
      border: 0;
      border-top: 1px solid black;
      margin-top: 30px;
      padding-top: 20px;
      legend{
        padding: 0px 10px;
        margin: auto;
        font-size: 25px;
      }
    }
  }
}

// PC (해상도 1024px)
@media all and (min-width:1024px) {
  .join-container-yjh {
    width: 55vw; 
    padding: 10px; 
    #Join-form-yjh {
      width: 100%; 
      h1{
        font-size: 3vh;
      }
      #input-ul-yjh {
        .input-li-yjh {
          margin: 10px auto; 
          label{
            font-size: 1.7vh;
          }
          input{
            height: 5vh;
            width: 97%;
            font-size: 2vh;
          }
        }
        .message{
          font-size: 1.3vh;
          margin-top: 10px; 
          margin-bottom: 10px;
        }
      }
      #join-btn-yjh {
        width: 100%;
        height: 5vh;
        font-size: 2vh;
      }
    }
  }
} 

// 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)
@media all and (min-width:768px) and (max-width:1023px) {
  .join-container-yjh {
    width: 55vw; 
    padding: 10px; 
    #Join-form-yjh {
      width: 100%; 
      #input-ul-yjh {
        .input-li-yjh {
          margin: 10px auto; 
          input{
            width: 97%;
          }
        }
        .message {
          margin-top: 10px; 
          margin-bottom: 10px;
        }
      }
    }
    #join-btn-yjh {
      width: 100%;
    }
  }
} 

// 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)
@media all and (max-width:767px) {
  .join-container-yjh {
    width: 90%; 
    padding: 10px; 
    #Join-form-yjh {
      width: 100%; 
      #input-ul-yjh {
        .input-li-yjh {
          margin: 10px auto; 
          input{
            width: 97%;
          }
        }
        .message {
          margin-top: 10px; 
          margin-bottom: 10px;
        }
      }
    }
    #join-btn-yjh {
      width: 100%;
    }
  }
} 