/* 예제 스타일 - 실제로 사용하는 프로젝트에 맞게 조절하세요. */
.book_container {
  display: flex;
  margin-bottom: 20px;
  // border: 1px solid #ccc;
  border-bottom: 1px solid black;
  padding: 10px;
  position: relative;
  white-space: pre-wrap;
  width: 70%;
  margin: 0 auto;
  .book_details {
    flex: 1;
    position: relative;
    // width: 960px;
    display: inline-block;
    
    .book_image {
      width: 120px; /* 조절할 가로 크기 */
      height: 200px; /* 조절할 세로 크기 */
      margin-right: 10px;
      position: relative;      
      float: left;
    }
    .book_title{
      font-size: 25px;
    }
    .book_author{
      // float: left;
      font-weight: bold;
    }
    .book_description{
      color: #898989;
      overflow: hidden;
      white-space: pre-wrap;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-break: keep-all;   // 문단으로 끊어져서 줄바꿈 됨
    }
    .book_user{
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
    .book_daylimit{
      position: absolute;
      right: 10px;
      bottom: -8px;
    }
    .button_container{
      position: absolute;
      right: 10px;
      top: 10px;
      .button_extension{
        padding-top: 10px;        
        padding-bottom: 10px;
        border: none;
        background-color: #6BA10E;
        color: #fff;
        font-size: 20px;
        border-radius: 0.8rem;
        cursor: pointer;
      }
      .button_return{
        padding-top: 10px;        
        padding-bottom: 10px;
        border: none;
        background-color: #6BA10E;
        color: #fff;
        font-size: 20px;
        margin-left: 10px;
        border-radius: 0.8rem;
        cursor: pointer;
      }
    }
  }  
}

