.myedit-container-kjh {
  margin: 0 auto;
  box-sizing: border-box;
  width: 83.3333vw;
  height: 69.4444vw;

  .editpageTop-kjh {
    margin: 3.4722vw auto;
    width: 69.4444vw;
    height: 6.9444vw;
    position: relative;
    border-bottom: 0.21vw solid #333;
  }
  .editpageTop-kjh h1 {
    width: 48.6111vw;
    float: left;
    position: absolute;
    bottom: 0;
    margin-left: 0.6944vw;
    font-size: 2vw;
  }

  .editMain-kjh {
    width: 48.6111vw;
    height: 13.8889vw;
    padding: 0;
    margin: 0 auto;
    label {
      color: gray;
      width: 48.6111vw;
      // float: left;
      height: 1.389vw;
      font-size: 1.1111vw;
    }
    input {
      margin: 0.6944vw 0;
      height: 2.7778vw;
      width: 47.2222vw;
      padding: 0.3472vw 0.4861vw;
      outline: none;
      font-size: 1.3889vw;
      transition: border-color 0.5s;
      &:focus {
        border-color: #6ba10e; // 클릭시 border 색상 변경
      }
      &:focus::placeholder {
        //엣지에선 안됨
        color: transparent;
      }
    }
    button {
      margin-right: 0.347vw;
      font-size: 0.8vw;
    }
    .button_edit-kjh {
      float: right;
      border: none;
      width: 11.1111vw;
      height: 4.1667vw;
      background-color: #6ba10e;
      color: #fff;
      cursor: pointer;
    }
    .button_cancell-kjh {
      border: 0.07vw solid #6ba10e;
      float: right;
      width: 4.1667vw;
      height: 4.1667vw;
      background-color: #fff;
      color: #6ba10e;
      cursor: pointer;
    }
    .withdraw-kjh {
      // border: none;
      display: inline-block;
    }
    .withdrawbtn-kjh {
      border: none;
      color: red;
      text-decoration: underline;
    }
  }
  //에러메세지 스타일
  .message {
    color: green;
  }
  .message.error {
    color: red; 
  }

}