.aloans-container-kjh{
  display: grid;
  grid-template-areas: 
  "user book"
  "user book"
  "loans loans"
  "loans loans";
  ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 2vw;
  padding: 0 2vw;

  h3{
    display: inline-block;
    font-size: 1.3vw;
  }
  p{
    margin: 0;
    font-size: 1.1vw;
  }
  .content-top-kjh{
    margin-bottom: 2vw;
    p{
      color: #5E656B;
    }
  }
  
  
  label {
    display:inline-block;
    text-align:end;
    width:5.5556vw;
    font-weight:bold;
  }

  .user-kjh{
    grid-area: user;
    // border: 1px solid #000;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 6px, rgba(0, 0, 0, 0.08) 0px 3px 6px;

    

    .user-data-top-kjh{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1vw;
      height: 3vw;
      color: white;
      background-color: #5E656B;
    }

    .user-data-content-kjh{
      display: flex;
      flex-direction: row;
      gap: 0 1vw;
      padding: 1.5vw;
      height: calc(100% - 3vw);
      
      svg{
        height: 100%;
        width: 25%;
        border: 1px solid #000;
      }
    }

  }

  .book-kjh{
    grid-area: book;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 6px, rgba(0, 0, 0, 0.08) 0px 3px 6px;

    .book-data-top-kjh{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1vw;
      height: 3vw;
      color: white;
      background-color: #5E656B;
    }

    .book-data-content-kjh{
      display: flex;
      flex-direction: row;
      padding: 1.5vw;
      gap: 0 1vw;
      
      img{
        height: 100%;
        width: 25%;
      }
    }
  }

  .loans-kjh{
    grid-area: loans;

    .rowActive {
      border: 2px solid #0085f2ae;
      background-color: #0085f230;
    }

    .return-book-button-kjh{
      margin-right: 0.7vw;
    }
  }

  /* PC (해상도 1024px)*/ 
  @media all and (min-width:1025px) {
    
  } 

  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
  // @media all and (min-width:768px) and (max-width:1024px) {
  @media all and (max-width:1024px) {
    display: grid;
    grid-template-areas: 
    "user"
    "book"
    "loans"
    "loans"
    ; 
    grid-template-columns: 1fr;
    grid-template-rows:auto; 
    // gap: 2vw;
    
  } 

  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
  // @media all and (max-width:767px) {
  //   // border: 10px solid #000;
  //   // display: grid;
  //   // grid-template-areas: 
  //   // "user"
  //   // "book"
  //   // "loans"
  //   // "loans"
  //   // ; 
  //   // // grid-template-columns: 1fr 1fr;
  //   // // grid-template-rows: 1fr 1fr 1fr 1fr; 
  //   // gap: 2vw;
  // } 

}