//푸터 css 무조건 .footer-container-kjh{} 안쪽에 작성하기
.footer-container-kjh {
  position: relative;
  margin-top: 10vh;
  background-color: #e7e5e5;
  padding-top: 20px;
  * {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
  }

  a {
    color: #666;
    text-decoration: none;
  }
  li {
    list-style: none;
  }

  .Topbtn-kjh {
    position: relative;
  }
  .sclTopbtn-kjh {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1001;
    border: none;
    background: none;
  }
  .icon-kjh {
    display: block;
    padding: 15px;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    text-align: center;
    line-height: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #d4d4d4;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .footerWrap-kjh {
    position: relative;
    margin: 0 auto;
    width: 50vw;
    text-align: left;
  }

  .LFooterTop-kjh {
    height: 5vh;
  }

  .LFooterTop-kjh::after {
    content: '';
    clear: both;
    display: block;
  }

  .LFootUli-kjh {
    float: left;
  }

  .LFootUli-kjh li {
    position: relative;
    float: left;
    height: 3vh;
    font-weight: bold;
  }
  .LFootUli-kjh li a {
    display: block;
    padding: 0 1vw;
    height: 3vh;
    line-height: 3vh;
    overflow: hidden;
    letter-spacing: -1px;
    font-size: 0.8rem;
    text-indent: 0;
  }
  .LFootUli-kjh li:first-child a {
    padding-left: 0;
  }
  
  .LFooterCon-kjh {
    position: relative;
    min-height: 148px;
  }
  .footerImg-kjh {
    width: 10vw;
    height: 10vh;
    float: left;
    margin-right: 2vw;
  }
  .footerImg-kjh img {
    width: 10vw;
  }
  .footerAdd-kjh {
    letter-spacing: -0.5px;
    line-height: 1.2em;
  }
  p{
    font-size: 0.8rem;
    font-weight: 100;
    color: #666;
    display: inline-block;
    margin-right: 2vw;
  }
  .txt_copyright {
    display: block;
    margin-top: 1vw;
  }

  
}

@media all and (max-width: 480px) {
  .footer-container-kjh {
    padding: 0 0 0 7vw;
    width: 100vw;
    display: flex;
    flex-direction: column;

      .icon-kjh {
        font-size: 0.7rem;
      }
    }

    .footerWrap-kjh {

        .LFootUli-kjh {
          margin-right: 2vw;

          li {
            margin-bottom: 10px;
          }
        }
      }

      .LFooterCon-kjh {

          img {
            width: 100%;
            max-width: 30vw;
          }
          .footerImg-kjh {
            height: 2vh;
            display: none;
          }
        }

        .footerAdd-kjh {
          .addrRow {
            margin-bottom: 0.5vw;
          }

          .txt_copyright {
            margin-top: 1vw;
          }
        }
      }