//푸터 css 무조건 .footer-container-kjh{} 안쪽에 작성하기
.footer-container-kjh {
  position: relative;
  margin-top: 20px;
  border-top: 1px solid #cbcbcb;
  background-color: #dfdfdf;
  
  * {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
  }
  a {
    color: #666;
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  em {
    font-style: normal;
  }

  .Topbtn-kjh {
    position: relative;
  }
  .sclTopbtn-kjh {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1001;
  }
  .icon-kjh {
    display: block;
    padding: 15px;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-size: 30px;
    font-weight: 700;
  }
  
  .footerWrap-kjh {
    position: relative;
    margin: 0 auto;
    width: 960px;
    text-align: left;
  }
  .LFooterTop-kjh {
    height: 44px;
  }
  .LFooterTop-kjh::after {
    content: '';
    clear: both;
    display: block;
  }
  .LFootUli-kjh {
    float: left;
  }
  .LFootUli-kjh li {
    position: relative;
    float: left;
    height: 44px;
  }
  .LFootUli-kjh li a {
    display: block;
    padding: 0 8px;
    height: 44px;
    line-height: 44px;
    overflow: hidden;
    letter-spacing: -1px;
    font-size: 12px;
    text-indent: 0;
  }
  .LFootUli-kjh li:first-child a {
    padding-left: 0;
  }
  .LFootUli-kjh li::after {
    content: '';
    position: absolute;
    left: 0;
    top: 18px;
    height: 10px;
    border-left: 1px solid #ccc;
  }

  .LFootSnsli-kjh {
    position: absolute;
    right: 126px;
    top: 12px;
  }
  .LFootSnsli-kjh li {
    float: left;
    margin-right: 4px;
  }
  .LFootSnsli-kjh li a {
    display: block;
    width: 25px;
    height: 25px;
    overflow: hidden;
  }
  .LFootSnsli-kjh li a.sns_ka-kjh {
    background-position: -370px -120px;
  }
  .LFootSnsli-kjh li a.sns_fa-kjh {
    background-position: -400px -120px;
  }
  .LFootSnsli-kjh li a.sns_tw-kjh {
    background-position: -430px -120px;
  }
  .LFootSnsli-kjh li a.sns_in-kjh {
    background-position: -460px -120px;
  }

  .LFooterCon-kjh {
    position: relative;
    min-height: 148px;
  }
  .footerImg-kjh {
    width: 120px;
    height: 100%;
    float: left;
    margin-right: 20px;
  }
  .footerImg-kjh img {
    width: 120px;
    height: 100px;
    // object-fit: cover;
  }
  .footerAdd-kjh {
    letter-spacing: -0.5px;
    line-height: 1.6em;
  }
  .footerAdd-kjh span {
    // line-height: 1.5em;
  }


}
.footer-container-kjh::before {
  content: '';
  position: absolute;
  z-index: 0;
  height: 42px;
  border-bottom: 1px solid #cbcbcb;
  background-color: #dfdfdf;
}