.eventDetail-container-kjh{
  padding: 0 10vw;
  // text-align: center;
  
  .read-count-kjh{
    margin-top: 1.5vw;
  }
  
  .event-date-content-kjh{
    margin-bottom: 1vw;
    display: flex;
  }

  a{
    color: #000;
  }

  .event-date-kjh{
    margin-top: 3vw;
  }

  .event-kjh{
    padding: 2vh;   
    border: 1px #adadad;
    border-style: solid none;
    margin-bottom: 1.3vw;
  }

  .event-img-button-kjh{
    display: block;
    border: 1px solid #adadad;

    img{
      object-fit:cover;
      width: 100%;
      height: 100%;
    }
  }

  .content-img-kjh{
    width: 80%;
  }

  .img-div-kjh{
    text-align: center;
  }

  .listBtn-div-kjh{
    text-align: center;
  }

  .eventlist-button-kjh{
    display: block;
    height: 3.5vw;
    width: 8vw;
    text-align: center;
    line-height: 3.5vw;
    font-size: 1.3889vw;
    color: #fff;
    background-color: #6BA10E;
    border-radius: 0.3472vw;;
    transition: all 0.2s ;

    margin: 2vw auto;
  }

  .btnPush:hover {
    filter: brightness(90%)
  }

  .event-status-kjh{
    display: inline-block;
    padding: 5px 10px;
    color: #fff;

    &.false{
      background-color: #F36B3C;
    }
    &.true{
      background-color: #3F8BCC;
    }
  }

  .event-apply-kjh{
    background-color: #fff;
    border: 1px solid #000;
    margin-right: 10px;
    padding: 5px 10px;
  }
  .event-unapply-kjh{
    background-color: #fff;
    border: 1px solid #000;
  }
}

/* PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {

  .eventDetail-container-kjh{
    padding: 0 10vw;
    // text-align: center;
    
    h3{
      font-size: 1.5vw;
    }

    span,
    p {
      margin: 0;
      font-size: 1.25vw;
    }
  
    .event-kjh{
      display: flex;
      gap: 1.3vw;
      padding: 2vh;    
  
      
    }
  
    .event-img-button-kjh{
      width: 15vw;
      height: 23vw;
    }

  }
} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
  .eventDetail-container-kjh{
    font-size: 1.25vw;
    padding: 0 10vw;
    
    span,
    p{
      font-size: 1.25vw;
      margin: 0;
    }
  
    .event-kjh{
      display: flex;
      gap: 10px;
    }
  
    .event-img-button-kjh{
      width: 15vw;
      height: 23vw;
    }
  }
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
  .eventDetail-container-kjh{
    padding: 0 10vw;

    h1{
      font-size: 5vw;
    }

    h3{
      font-size: 4vw;
    }

    span, p{
      margin: 0;
      font-size: 3.5vw;
    }

    .event-img-button-kjh{
      width: 35vw;
      height: 50vw;
    }
  }
} 

