//////admin main
.a-chart-container-kjn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chart-section-kjn,
  .bottom-section-kjn {
    display: flex;
    justify-content: space-between;
    width: 70vw;
  }
  
  @media only screen and (max-width: 1366px) {
    .a-chart-container-kjn {
      flex-direction: column;
    }
  
    .chart-section-kjn,
    .bottom-section-kjn {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .a-chart-container-kjn {
        display: none;
    }
  }
    
  //admin header
  @media (max-width: 480px) {
    .logo-kjn {
      display: none;
    }

  }

  .chart-none-kjn {
    text-align: center;
    margin: auto;
    width: 30vw;
    padding: 1vw;
    border: 1px solid #ccc;
    border-radius: 1vw;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #333;
  }
