.check-container-kjh {
  margin: 0 auto;
  box-sizing: border-box;
  width: 1200px;
  height: 1000px;

  .checkpageTop-kjh {
    margin: 50px auto;
    width: 1000px;
    height: 100px;
    position: relative;
    border-bottom: 3px solid #333;
  }
  .checkpageTop-kjh h1 {
    width: 700px;
    float: left;
    position: absolute;
    bottom: 0;
    margin-left: 10px;
  }

  .checkMain-kjh {
    width: 700px;
    height: 200px;
    padding: 0;
    margin: 0 auto;
    label {
      color: gray;
      width: 700px;
      // float: left;
      height: 20px;
    }
    input {
      margin: 10px 0;
      height: 51px;
      width: 680px;
      padding: 5px 7px;
      outline: none;
      font-size: 20px;
      transition: border-color 0.5s;
      &:focus {
        border-color: #6ba10e; // 클릭시 border 색상 변경
      }
      &:focus::placeholder {
        //엣지에선 안됨
        color: transparent;
      }
    }
    button {
      float: right;
      border: none;
      width: 60px;
      height: 30px;
      background-color: #6ba10e;
      color: #fff;
    }
  }


}